:root {
  /* ====================breakpoints==================== */
  --mobile-breakpoint: 320px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1280px;
  /* ====================colors==================== */
  --logo-color: #621244;
  --accent-color: #cda274;
  --main-title-color: #621244;
  --black-theme-color: #fef9f9;
  --primary-text-color: #111111;
  --btn-text-color: #fef9f9;
  --btn-bg-color: #111111;
  --btn-hover-color: #cda274;
  --btn-hover-text-color: #111111;
  --scroll-up-btn-bg: #551b54;
  --dark-theme-bg: #444;

  /* ====================font==================== */

  --primary-font-family: 'sans-serif';
  --secondary-font-family: 'Inter';

  /* ====================animation==================== */

  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
