.section {
  margin-top: 50px;
}

.bg {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  max-width: 480px;
  max-height: 400px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../shared/images/hero/hero_1x.jpg);
  background-color: var(--black-text-color);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentWrapper {
  padding: 0;
  text-align: center;
}

.description {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 1.5;

  color: #fff;
  @media screen and (min-width: 768px) {
    font-size: 33px;
  }
}

.mainTitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: snow;
  /* letter-spacing: 0.06em; */
}

.callBtn {
  margin-top: 30px;
  padding: 10px 32px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .bg {
    max-width: 768px;
    max-height: 500px;
  }

  .mainTitle,
  .accentTitle {
    width: 360px;
  }

  .callBtn {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    margin-top: 100px;
  }
  .bg {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../shared/images/hero/hero_1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../shared/images/hero/hero_2x.jpg);
    }
  }

  .mainTitle {
    width: 696px;
    margin: 0 auto;

    font-size: 40px;
  }
  .description {
    font-size: 38px;
  }
}

@media screen and (min-width: 1600px) {
  .bg {
    max-width: 1920px;
    max-height: 832px;
  }
}
