.wrapper {
  display: flex;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  width: 592px;

  align-items: center;
  justify-content: space-around;
}

.title {
  color: #621244;
}
