.section {
  /* gsap */
  opacity: 0;
  transform: translateX(-15rem);
  /*  */
}

.wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    width: 592px;
    margin-right: 16px;
  }

  align-items: center;
  justify-content: space-around;
}

.customTitle {
  display: inline-block;
  margin-bottom: 32px;
}

.list {
  margin-bottom: 32px;
}

.img {
  width: 480px;
}
.text {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    font-size: 30px;
  }
  .btn {
    font-size: 28px;
  }
}
