.wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  @media screen and (min-width: 768px) {
    width: 592px;
  }

  align-items: center;
  justify-content: space-around;
}

.img {
  width: 480px;
}
