.title {
  margin-bottom: 20px;
}

.serviceList {
  margin-top: 50px;

  text-align: center;
}

/* .contentWrapeer {
  display: flex;
} */

/* .img {
  margin-left: auto;
  margin-right: auto;
} */

/* .text {
  margin-top: 16px;
} */

.item {
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 32px;
  width: 100%;
}

/* зміни */
/* @media screen and (max-width: 767px) {
  .item {
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 32px;
  }
} */
.borderRadius {
  border-bottom-left-radius: 25%;
  border-top-right-radius: 50%;
}

@media screen and (min-width: 768px) {
  .serviceList {
    margin-top: 100px;
  }
  .img {
    width: 728px;
    width: 100%;
  }
  /* зміни */
  /* .item:nth-child(2n) {
    flex-direction: row-reverse;
  } */
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 32px;
  }
  .img {
    width: 1160px;
    width: 100%;
  }
  .text {
    font-size: 38px;
  }
  .customTitle {
    font-size: 40px;
    margin-top: 80px;
  }
}
