.item {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 380px;

  text-align: center;
}

.text {
  margin-top: 16px;
}

.btn {
  margin-top: 16px;
}

@media screen and (max-width: 1199px) {
  .item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .featureTitle {
    font-size: 40px;
  }
  .wrapper {
    max-width: 800px;
  }
  .text {
    font-size: 38px;
  }
  .btn {
    margin-top: 32px;
    font-size: 28px;
  }
}
