.item {
  text-align: center;
}

.text {
  margin-top: 16px;
}

.btn {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
  }
}
