.darkTheme {
  color: var(--black-theme-color);
  /* background-color: var(--dark-theme-bg); */
  background-color: var(--logo-color);
  & header {
    /* background-color: var(--dark-theme-bg); */
    background-color: var(--logo-color);
  }
  & header > div > a {
    color: #cda274;
  }

  & header > div > div > div {
    background-color: #444;
    /* background-color: var(--logo-color); */
  }
  & header > div svg {
    color: #cda274;
  }

  & nav a {
    color: var(--black-theme-color);
  }
  & footer {
    background-color: var(--logo-color);
  }
  & footer a {
    color: #cda274;
  }
  & footer a[href='/flower-decor-company'] {
    color: #fff;
  }
  & footer svg {
    color: #fff;
  }
  & p {
    color: #fff;
  }
  & h2,
  & h3 {
    color: #cda274;
  }

  & section span > h2 {
    color: #fff;
  }
  & form {
    color: var(--primary-text-color);
  }
  & label {
    color: var(--black-theme-color);
  }

  & div[id='hero-modal'] {
    /* background-color: #444; */
    background-color: var(--logo-color);
  }
}

.lightTheme {
  color: var(--primary-text-color);
  background-color: var(--black-theme-color);
  & header {
    background-color: var(--black-theme-color);
  }
  & header > div > a {
    color: var(--logo-color);
  }
  & header > div > div > div {
    background-color: var(--black-theme-color);
  }
  & nav a {
    color: var(--primary-text-color);
  }
  & footer {
    background-color: snow;
  }
  & footer > div > a {
    color: var(--logo-color);
  }

  & label {
    color: var(--primary-text-color);
  }

  & div[id='hero-modal'] {
    background-color: #e7ded8;
  }
}
.themeBtn {
  position: relative;
}
.iconPosition {
  position: fixed;
  bottom: 112px;
  right: 25px;
  z-index: 9;
}
.iconStyle {
  background-color: #551b54;
  /* border: 2px solid #fff; */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 2px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.iconStyle:hover {
  background: #fff;
  color: #551b54;
  /* border: 2px solid #551b54; */
}

@media screen and (max-width: 767px) {
  .iconStyle {
    height: 32px;
    width: 32px;
  }
  .iconPosition {
    right: 12px;
  }
}
