.backdrop {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 16px 0;
  background-color: rgba(12, 12, 12, 0.5);
}

.mobileModal {
  position: fixed;
  z-index: 20;

  width: 70vw;
  height: 70vh;
  padding: 10px 16px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  background-color: #ffffff;
}

.closeBtn {
  position: absolute;
  padding: 0;
  border: none;
  cursor: pointer;
  top: 24px;
  right: 24px;
  transition: transform;

  width: 30px;
  height: 30px;
}

.navigation {
  display: flex;
  justify-content: center;

  margin-top: 50px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.link {
  font-family: 'Inter';
  font-size: 22px;
  line-height: 1.1;

  text-decoration: none;

  color: #222;

  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: #cda274;
  }
}

.link:global(.active) {
  color: var(--accent-color);
}
