.section {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .list {
    max-width: 1200px;
  }
}
