.header {
  padding: 22px 0;

  background-color: #ffffff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
}

.logo {
  display: inline-flex;
  width: 100px;
  height: 58px;

  text-decoration: none;

  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  color: #621244;
}
.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

.item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.link {
  font-family: "Inter";
  font-size: 22px;
  line-height: 1.1;

  text-decoration: none;

  color: #222;

  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: #cda274;
  }
}

.burger {
  margin: 10px 0;
  padding: 0;
  line-height: 0;

  color: #222;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
