.header {
  padding: 10px 0;

  background-color: #ffffff;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
}

.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      justify-content: center;
    }
  }
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

.item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.link {
  font-family: 'Montserat';
  font-size: 22px;
  line-height: 1.1;

  text-decoration: none;

  color: #222;

  transition: color 250ms ease-in;

  &:hover,
  &:focus {
    color: #cda274;
  }
}

.burger {
  margin: 10px 0;
  padding: 0;
  line-height: 0;

  color: #222;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 22px 0;
  }
}
.link:global(.active) {
  color: var(--accent-color);
}

.phone {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
