.item {
  display: flex;
  justify-content: space-between;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.contentWrapeer {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;

  color: #222222;
}
